.logo {
  flex: 1;
}

.search-box {
  margin-right: 30px;
  margin-top: 25px;
  color: rgba(255,255,255,.87);

  /deep/ .mat-input-placeholder {
    color: rgba(255,255,255,.87);
  }
  
  /deep/ .mat-form-field-underline {
    background-color: rgba(255,255,255,.87);
  }
}
