<h1 mat-dialog-title>Add new transformer</h1>
<div mat-dialog-content>
  <mat-form-field>
    <p>Name:</p>
    <input matInput tabindex="1" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Group:</p>
    <mat-select [(ngModel)]="data.vehicleGroup">
      <mat-option *ngFor="let vg of vehicleGroup" [value]="vg">
        {{vg}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Type:</p>
    <mat-select [(ngModel)]="data.vehicleType">
      <mat-option *ngFor="let vt of vehicleType[data.vehicleGroup]" [value]="vt">
        {{vt}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Model:</p>
    <mat-select [(ngModel)]="data.vehicleModel">
      <mat-option *ngFor="let vm of vehicleModel[data.vehicleType]" [value]="vm">
        {{vm}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-chips [title]='"Gears"' [array]='data.gear'></app-chips>
  <mat-form-field>
    <p>Status:</p>
    <mat-select [(ngModel)]="data.status">
      <mat-option *ngFor="let s of status" [value]="s">
        {{s}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" tabindex="2">Add</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
