<h1 mat-dialog-title>Update transformer:</h1>
<div mat-dialog-content>
  <mat-form-field>
    <p>Name:</p>
    <input matInput tabindex="1" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Group:</p>
    <mat-select [(ngModel)]="data.vehicleGroup">
      <mat-option *ngFor="let vg of vehicleGroup" [value]="vg.value">
        {{vg.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Type:</p>
    <mat-select [(ngModel)]="data.vehicleType">
      <mat-option *ngFor="let vg of vehicleType[data.vehicleGroup]" [value]="vg.value">
        {{vg.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <p>Vehicle Model:</p>
    <mat-select [(ngModel)]="data.vehicleModel">
      <mat-option *ngFor="let vg of vehicleModel[data.vehicleType]" [value]="vg.value">
        {{vg.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <p>Gears:</p>
    <input matInput tabindex="1" [(ngModel)]="data.gear">
  </mat-form-field>
  <mat-form-field>
    <p>Status:</p>
    <mat-select [(ngModel)]="data.status">
      <mat-option *ngFor="let s of status" [value]="s.value">
        {{s.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" tabindex="2">Update</button>
  <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
