<div class="example-container mat-elevation-z8">
  <table class="custom-table">
    <tr class="custom-table__header">
      <th>Name</th>
      <th>Vehicle Group</th>
      <th>Vehicle Type</th>
      <th>Vehicle Model</th>
      <th>Gear</th>
      <th>Status</th>
      <th>&nbsp;</th>
    </tr>
    <tr (click)="openReadDialog(t)" class="custom-table__row" *ngFor="let t of transformers">
      <td>{{t.name}}</td>
      <td>{{t.vehicleGroup}}</td>
      <td>{{t.vehicleType}}</td>
      <td>{{t.vehicleModel}}</td>
      <td>
        <mat-chip-list>
          <mat-chip *ngFor="let g of t.gear">{{g}}</mat-chip>
        </mat-chip-list>
      </td>
      <td class="custom-table__status">{{t.status}}</td>
      <td>
        <button mat-icon-button (click)="openDeleteDialog(t); $event.stopPropagation()">
          <i class="material-icons">delete</i>
        </button>
        <button mat-icon-button (click)="openUpdateDialog(t); $event.stopPropagation()">
          <i class="material-icons">create</i>
        </button>
      </td>
    </tr>
</table>
</div>

<button mat-raised-button color="primary" (click)="openCreateDialog()">
  <i class="material-icons">add</i>
  Add transformer
</button>
